body{
    background-image: url('../../items\ for\ website/SVG/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: -150px;
    padding-bottom:-1190px;
}