body{
    background-image: url('../../items\ for\ website/SVG/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: -150px;
    padding-bottom:-1190px;
    position: relative;

        
    // @media(max-width:430px){
    //     background-repeat: repeat;
    //     background-size: cover;
    //     position: relative;
    //     background-image: url('../../image/background_1.svg');
    //      padding-bottom:90px;
    //     // padding-top: -550px;
    // }
}