.content_window{
    position: relative;
    margin-top: 100px;
    padding-bottom: 1000px;

}


.image_mask{
position: absolute;
left: 10%;
z-index:4;
top:0;
height:100%;
width: 100%;

}

.information_text{
   position: absolute; 
   bottom: 5%;
   left: 45%
}

.text_info{
    position: absolute;
    //text-align: center;
    color: purple;
    padding: 2%;
    font-size: 30px;
    top: 50px;

}


.swiper{
    position:relative;
    width: 80%;
    height: 80%;
    

}

.swiper-slide img{
   // position: absolute;
    width: 80%;
}

.swiper-wrapper{
   // position: absolute;
    width: 80%;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next{
   // position: absolute;
   color: aliceblue;
    width: 10%;
}