/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
/* min body height */
body {
  min-height: 100vh;
}

a, button {
  cursor: revert;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input, textarea {
  -webkit-user-select: auto;
     -moz-user-select: auto;
          user-select: auto;
}

:root {
  --purple: rgba(96, 81, 163, 1) ;
}

@media screen and (min-width: 1440px) {
  @font-face {
    src: url(font/zig_____.ttf);
    font-family: zig;
  }
  .folders {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    justify-content: center;
    z-index: 8;
  }
}
@media screen and (min-width: 1440px) and (max-width: 431px) {
  .folders {
    margin-top: 50px;
    z-index: 8;
  }
}
@media screen and (min-width: 1440px) {
  .files {
    display: flex;
    justify-items: space;
    z-index: 9;
  }
  .file_001 {
    display: block;
    margin-right: 80px;
    position: relative;
    margin-bottom: 30px;
    z-index: 5;
    transition-duration: 2s;
  }
  .file_001:hover, .file_001:focus {
    top: -10px;
  }
  .Home_text {
    display: block;
    font-size: 17px;
    margin-top: 10px;
    text-align: center;
    font-family: zig;
  }
}
.hamburger {
  display: none;
  cursor: pointer;
  top: 20px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: aliceblue;
}

@media (max-width: 431px) {
  .hamburger {
    display: block;
    margin-top: 40px;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .files {
    position: fixed;
    display: flex;
    top: -200%;
    gap: 0;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 203, 148);
    width: 100%;
    text-align: center;
    transition: 0.8s;
  }
  .files_001 {
    margin: 16px 0;
    filter: brightness(100%);
  }
  .files.active {
    z-index: 8;
    top: 30%;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    filter: brightness(100%);
    font-family: zig;
  }
  .content.active {
    filter: brightness(50%);
  }
  .grid_container.active {
    filter: brightness(50%);
  }
  .VideoPlayer.active {
    filter: brightness(50%);
  }
}
body {
  background-image: url("../../items for website/SVG/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: -150px;
  padding-bottom: -1190px;
  position: relative;
}

.VideoPlayer {
  position: relative;
  max-width: 100%;
  margin-top: 200px;
  display: flex;
  justify-content: center;
}
@media (max-width: 431px) {
  .VideoPlayer {
    max-width: 100%;
    margin-top: 400px;
    display: flex;
    justify-content: center;
  }
}

.video {
  z-index: 2;
  right: 40px;
}
@media (max-width: 431px) {
  .video {
    max-width: 95%;
  }
}

.backgroundVid {
  position: absolute;
  width: 100%;
  top: 20px;
  left: 5px;
  z-index: 0;
  margin-bottom: 30px;
  left: 100px;
}
@media (max-width: 431px) {
  .backgroundVid {
    right: 0px;
    left: -10px;
  }
}

.WhoAmI {
  bottom: 90%;
  left: 850px;
  position: absolute;
  width: 35%;
  z-index: 2;
}
@media (max-width: 431px) {
  .WhoAmI {
    width: 60%;
    left: 150px;
    bottom: 230px;
  }
}

.Video_itself {
  position: absolute;
  top: 50px;
}

.star {
  position: absolute;
  width: 20%;
  left: -50px;
  top: 150px;
  z-index: 8;
}
@media (max-width: 431px) {
  .star {
    width: 40%;
    left: -30px;
    top: 250px;
  }
}

.planet {
  position: absolute;
  width: 20%;
  z-index: 9;
  top: 650px;
  left: 1160px;
}
@media (max-width: 431px) {
  .planet {
    width: 50%;
    top: 1%;
    left: 30%;
  }
}

.content {
  margin-top: 50px;
  padding-bottom: 400px;
  position: relative;
}
@media (max-width: 431px) {
  .content {
    width: 100%;
    padding-bottom: 800px;
    filter: brightness(100%);
  }
}

.ThisIsMe {
  position: relative;
  right: 10%;
  display: flex;
  justify-content: end;
  top: 30px;
  z-index: 4;
}
@media (max-width: 431px) {
  .ThisIsMe {
    max-width: 100%;
    right: 0%;
  }
}

.window {
  position: relative;
}
.background {
  position: absolute;
  left: 0px;
  z-index: 0;
}

.background_001 {
  position: absolute;
  top: 100px;
  left: 510px;
  z-index: 2;
}
@media (max-width: 430px) {
  .background_001 {
    max-width: 70%;
    top: 270px;
    left: 70px;
    display: none;
  }
}

.background_002 {
  position: absolute;
  top: 120px;
  left: 530px;
  z-index: 1;
}
@media (max-width: 431px) {
  .background_002 {
    display: none;
  }
}

.background_003 {
  position: absolute;
  top: 140px;
  left: 550px;
  z-index: 0;
}
@media (max-width: 431px) {
  .background_003 {
    display: none;
  }
}

.background_004 {
  position: absolute;
  top: 160px;
  left: 570px;
  z-index: -1;
}
@media (max-width: 431px) {
  .background_004 {
    display: none;
  }
}

.window-cont {
  position: relative;
}
@media (max-width: 431px) {
  .window-cont {
    top: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.Pic-wrapper {
  position: absolute;
  top: 60px;
  right: 10px;
}
@media (max-width: 431px) {
  .Pic-wrapper {
    top: 235px;
    max-width: 95%;
  }
}

.Text-wrapper {
  padding-top: 100px;
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 431px) {
  .Text-wrapper {
    right: 0px;
    padding-top: 40px;
    padding: 8%;
    text-align: center;
    font-size: 12px;
  }
}

.Search {
  position: absolute;
  justify-content: center;
  top: 0px;
  left: 80px;
  width: 35%;
  z-index: 5;
}
@media (max-width: 431px) {
  .Search {
    width: 80%;
    top: 200px;
  }
}

.Info {
  position: absolute;
  top: 80%;
  left: 300px;
  z-index: 5;
  width: 35%;
}
@media (max-width: 431px) {
  .Info {
    width: 65%;
    top: 170%;
    left: 50px;
  }
}

.footer {
  position: relative;
  bottom: 0px;
}

.aboutPage_Text {
  color: purple;
  text-align: center;
  font-size: 30px;
}
.aboutPage_Text:hover, .aboutPage_Text:focus {
  color: orange;
}
@media (max-width: 431px) {
  .aboutPage_Text {
    font-size: 15px;
  }
}

.save_001 {
  left: 500px;
  position: absolute;
  bottom: 50px;
}
@media (max-width: 431px) {
  .save_001 {
    width: 15%;
    left: 80px;
    bottom: 250px;
  }
}

.save_002 {
  left: 700px;
  position: absolute;
  bottom: 50px;
}
@media (max-width: 431px) {
  .save_002 {
    width: 15%;
    left: 180px;
    bottom: 250px;
  }
}

.save_003 {
  left: 900px;
  position: absolute;
  bottom: 50px;
}
@media (max-width: 431px) {
  .save_003 {
    width: 15%;
    left: 280px;
    bottom: 250px;
  }
}

.circle_001 {
  position: absolute;
  left: 107px;
  top: 10px;
  z-index: 6;
}
@media (max-width: 431px) {
  .circle_001 {
    display: none;
  }
}

.circle_002 {
  position: absolute;
  left: 60px;
  top: 10px;
  z-index: 6;
}
@media (max-width: 431px) {
  .circle_002 {
    display: none;
  }
}

.line {
  position: absolute;
  top: 50px;
  z-index: 6;
  left: 10px;
}
@media (max-width: 431px) {
  .line {
    display: none;
  }
}

.gameboy {
  position: absolute;
  top: 150px;
  left: 230px;
  width: 10%;
  z-index: 7;
}
@media (max-width: 431px) {
  .gameboy {
    width: 20%;
    top: 900px;
  }
}

.container_type {
  position: absolute;
  top: 13%;
  left: 50px;
}
@media (max-width: 431px) {
  .container_type {
    top: 10px;
    left: 60px;
  }
}

h1 {
  font-size: 25px;
  font-family: zig;
}

.this .SaveCards {
  position: relative;
  display: flex;
  justify-content: end;
  margin-right: 90px;
}
.this .SaveCards .Cards_001 {
  position: relative;
  top: 120px;
  right: 50px;
}
.this .SaveCards .Cards_001:hover, .this .SaveCards .Cards_001:focus {
  top: 10px;
}
.this .Contact {
  position: relative;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 0px;
  z-index: 2;
}
.this .Contact_Background_001 {
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 640px;
  right: 30px;
  z-index: 1;
}
.this .Contact_Background_002 {
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 1280px;
  right: 55px;
  z-index: 0;
}

@font-face {
  src: url(font/zig_____.ttf);
  font-family: zig;
}
.grid_container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
  margin-top: 50px;
  gap: 30px;
}
@media (max-width: 431px) {
  .grid_container {
    grid-template-columns: auto;
  }
}

.grid-item {
  position: relative;
  overflow: hidden;
}
.grid-item img {
  width: 100%;
}
.grid-item img.window {
  z-index: 1;
}
.grid-item:hover .grid-pic, .grid-item:focus .grid-pic {
  position: absolute;
  scale: 1.04;
  filter: brightness(50%);
}
.grid-item:hover .middle_text, .grid-item:focus .middle_text {
  opacity: 1;
  filter: brightness(100%);
}

.grid-pic {
  position: absolute;
  top: 33px;
  width: 100%;
  height: 100%;
  transition: scale 0.3s ease;
}
@media (max-width: 431px) {
  .grid-pic {
    top: 20px;
  }
}
.grid-pic img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 90%;
}

.pic {
  width: 100%;
}

.middle_text {
  transition: 0.3 s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  z-index: 8;
}

.text {
  font-family: zig;
  border-radius: 10px;
  border: 5px solid black;
  background-color: rgb(96, 81, 163);
  color: rgb(224, 215, 226);
  padding: 2%;
  font-size: 70px;
}
@media (max-width: 431px) {
  .text {
    font-size: 30px;
  }
}

@font-face {
  font-family: adobe_Dia;
  src: url(font/adobe_Dia.tff);
}
section {
  position: relative;
  margin-right: -30px;
}

.image_mask {
  position: absolute;
  left: 10%;
  z-index: 4;
  height: 100%;
  width: 100%;
}

.information_text {
  position: absolute;
  bottom: 4%;
  left: 45%;
}
@media (max-width: 431px) {
  .information_text {
    bottom: 230px;
    font-size: 12px;
  }
}

.text_info {
  position: absolute;
  color: purple;
  padding: 8%;
  font-size: 30px;
  font-family: adobe_Dia, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  top: 50px;
}
@media (max-width: 431px) {
  .text_info {
    top: 0px;
    font-size: 12px;
  }
}

.content_window {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 431px) {
  .content_window {
    top: 0px;
    font-size: 12px;
  }
}

.swiper {
  width: 80%;
  height: -moz-fit-content;
  height: fit-content;
}

.swiper-slide {
  width: 100%;
}

.carousel {
  width: 80vw;
  height: 80vh;
  margin-right: 30px;
  position: relative;
  border-radius: 5px;
  border: 8px solid var(--purple);
}
@media (max-width: 431px) {
  .carousel {
    height: 30vh;
  }
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.slide[data-active] {
  opacity: 1;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: azure;
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.4);
}
@media (max-width: 431px) {
  .carousel-button {
    height: 5vh;
    font-size: 2rem;
    border-radius: 0.1rem;
  }
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}

.content_window.active {
  filter: brightness(50%);
}/*# sourceMappingURL=index.css.map */